/* Estilos gerais do corpo */
body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    padding: 25px;
}

/* Container do chat */
#chat {
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Largura máxima do chat */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Lista de mensagens */
#messages {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1; /* Faz com que a lista cresça e ocupe espaço disponível */
    margin-bottom: 10px;
}

/* Estilo das mensagens */
#messages li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Estilos do formulário */
#input {
    display: flex;
}

#messageInput {
    flex: 1; /* O campo de mensagem ocupa o máximo de espaço */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilo do botão de enviar */
button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Estilo do campo de nome */
#user-info {
    text-align: center;
    margin-bottom: 20px;
}
